* {
    margin: 0;
}
body {
    max-width: 980px;
    margin: 0 auto;
}
header {
    height: 200px;
    width: 100%;
    background-color: blue;
}
aside#left {
    float: left;
    width: 25%;
    height: 200px;
    background-color: red;
}
article {
    float: left;
    width: 50%;
    height: 200px;
    background-color: blue;
}
aside#right {
    width: 25%;
    height: 200px;
    background-color: green;
}
footer {
    height: 200px;
    width: 100%;
    background-color: orange;
}